DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
GOOGLE_SHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
MEMBERS_SHEET_NAME=members
SIGNUP_CHANNEL_ID=
SIGNUPS_SHEET_NAME=signups
MAX_SIGNUPS_PER_DAY=8
